body {
    font-family: "Source Serif 4", sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 20px;
}
h1 {
    font-family: "Source Serif 4", sans-serif;
    color: #007bff;
}
p {
    font-size: 18px;
    line-height: 1.6;}
