:root {
  /* Base neutrals */
  --nd-cream: #F2EDE3;   /* CRT světlo / papír */
  --nd-beige: #E7D8B1;   /* vybledlé stěny */
  --nd-tan: #C9B28C;     /* karton / starý papír */

  /* Cool tones */
  --nd-mint-gray: #8FA6A1; /* školní chodby */
  --nd-denim: #6B7C8C;     /* jeans / 2000s modrá */
  --nd-lavender: #B7A3C7;  /* pastelové světlo */

  /* Accent */
  --nd-orange: #D96C4A;    /* retro 2000s akcent */

  /* Dark contrast */
  --nd-chocolate: #3E3A36; /* text / linie */
 
  /* --- https://coolors.co/ --- */

  --willow-green: #8ed081ff;
  --celadon: #b4d2baff;
  --vanilla-custard: #dce2aaff;
  --copper: #b57f50ff;
  --ebony: #4b543bff;

  --pale-slate: #c8bfc7ff;
  --sage-green: #7a9b76ff;
  --grey-olive: #8a7e72ff;
  --night-bordeaux: #5a2328ff;
  --pitch-black: #090302ff;

  --sky-surge: #5bc0ebff;
  --banana-cream: #fde74cff;
  --yellow-green: #9bc53dff;
  --tomato-jam: #c3423fff;
  --iron-grey: #404e4dff;

    --dark-gray: #3b3c47;
    --red: #d82431;
    --taupe: #6b5a5c;
    --blue: #5d7fc0;
    --orange: #e7a24a;
    --dark-red: #982823;
    --brown: #a37256;
    --light-gray: #dfe4ea;
}

* {
  margin: 0;
  padding:0;

}

@keyframes pohyb {
  from {
/*    transform: translateX(0); */
    transform: rotate(2deg);
  }

  to {
/*    transform: translateX(50px); */
    transform: rotate(-2deg);
  }
}

@keyframes najeti-mysi {
  from {
/*    transform: translateX(0); */
    transform: scale(1);
  }

  to {
/*    transform: translateX(50px); */
    transform: scale(2);
  }
}


body {
  background-image: url('picture/carpet05.webp');
  background-attachment: fixed;
  font-family: "Source Serif 4", serif;
  background-color: rgba(0,0,0,0.4);
  backdrop-filter: blur(5px);
  font-size: 18px;
  line-height: 1.7;
  color: var(--nd-chocolate);
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 auto;
}

header {
  position: sticky;
  top: 0;
}

.banner {
  width: 100%;
  height: 140px;
  background-size: cover;
  background-position: center;
}

.banner img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    display: block;
}

h1, h2, h3 {
  font-family: "Inter", sans-serif;
  letter-spacing: -0.02em;
  max-width: 700px;
  margin: auto;
}

.title-link {
  text-decoration: none;
  color: inherit;
}
/* --- pokus o blbost ---
h1:hover, h2:hover, h3:hover {
  animation: najeti-mysi 1s infinite;  
}
*/
.main-nav ul {
    display: flex;


    margin: 0;
    padding: 0;

    list-style: none;
}

.main-nav li {
    flex: 1;
}

.main-nav a {
    display: block;

    padding: 4px;

    text-align: center;

    text-decoration: none;

    background-color: var(--dark-gray);

    color: var(--light-gray);

    font-family: "Inter", sans-serif;
    font-weight: bold;

    transition:
        background-color 0.4s,
        color 0.4s;
}

.main-nav a.active {
    background-color: var(--tomato-jam);

    color: white;
}

.main-nav a:hover {
    background-color: var(--red);

    color: white;
}

.sec-nav ul {
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;
}

.sec-nav li {
    flex: 1;
}

.sec-nav a {
    display: block;

    padding: 4px;

    text-align: center;

    text-decoration: none;

    background-color: var(--blue);

    color: white;

    font-family: "Inter", sans-serif;
    font-weight: bold;

    transition:
        background-color 0.4s,
        color 0.4s;
}

.sec-nav a:hover {
    background-color: var(--orange);

    color: #111;
}

html {
    scroll-behavior: smooth;
}

article {
    scroll-margin-top: 230px;
    max-width: 700px;
    margin: auto;
    line-height: 1.6;

        min-height: 80vh;

    padding: 60px 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}

/* pokus s o animaci obrázků
img:hover {
  animation: pohyb 0.2s infinite alternate;
}
*/


p {
  margin-bottom: 1em;
}

.copyleft {
  display: inline-block;
  transform: rotateY(180deg);
}
